<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tutorialspoint.myapplicationd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/niyejai"
        android:label="@string/app_name"
        android:roundIcon="@drawable/niyejai"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationd"
        tools:replace="android:allowBackup,icon,theme,label">
        <activity
            android:name=".VideoActivity"
            android:exported="false" />
        <activity
            android:name=".ContactActivity"
            android:exported="false" />
        <activity
            android:name=".SubMainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".WebActivity"
            android:exported="false" />
        <activity
            android:name=".PlagiarismActivity"
            android:exported="false" />
        <activity
            android:name=".HackingActivity"
            android:exported="false" />
        <activity
            android:name=".DomesticActivity"
            android:exported="false" />
        <activity
            android:name=".Cyber_BullyingActivity"
            android:exported="false" />
        <activity
            android:name=".Eve_TeasingActivity"
            android:exported="false" />
        <activity
            android:name=".Child_MarrigeActivity"
            android:exported="false" />
        <activity
            android:name=".DipressionActivity"
            android:exported="false" />
        <activity
            android:name=".SafeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplicationd.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>